<div style="padding-top: 100px;">
    <div style="text-align: center;">
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <h2>Chatbot</h2>
        </div>
    </div>
    <div>
        <table class="table table-striped table-sm">
            <thead style="color: white; background-color: #02366f;  ">
                <tr>
                    <th style="font-size: 20pt">Conversa</th>
                </tr>
            </thead>
            <tbody id="data" style="display: block; height: 250px; overflow-y: scroll; background-color: white;">
                <tr ng-repeat="item in conversa" style="background-color: white;">
                    <td style="border: transparent;">{{item.msg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <form class="form-horizontal" role="form" name="msgForm" ng-submit="enviaMensagem(mensagem.msg)" novalidate>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <input class="form-control" type="text" name="msg" id="msg" ng-model="mensagem.msg" placeholder="Digite a sua mensagem" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary float-right steps">Enviar</button>
                <button type="button" class="btn btn-danger float-right steps" ng-click="limparConversa()">Limpar Conversa</button>
            </div>
        </div>
    </form>

</div>