  html, body{
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

*{
    padding-bottom: 5px;
    font-family: 'Lato';
}

h1,h2,h3,h4,h5{
    font-family: 'Lato';
    font-weight: bold;
}

body{
    background-color: rgba(186, 186, 186, 0.2);
}

div.panel-default {
    background-color: rgba(186, 186, 186, 0);
}

.steps {
    margin-top: 7px;
    margin-left: 7px;
}

.menu {
    position: fixed;
    background-color: #02366f !important;
    width: 100%;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  .btn-primary{
      background-color: #02366f;
      border-color: #02366f;
      border: solid 2px;
  }
  
  .btn-primary:hover{
      background-color: white;
      border-color: #02366f;
      color: #02366f;
      border: solid 2px;
  }

  .btn-danger{
      background-color: red;
      border-color: red;
      border: solid 2px;
  }
  
  .btn-danger:hover{
      background-color: white;
      border-color: red;
      color: red;
      border: solid 2px;
  }
